main html {
    margin: 0 auto;
    padding: 0;

}

.container {
    border: 1px black solid;
    width: 100%;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-rows: 10% 90%; */
    /* grid-template-areas:  */
                    /* 'clean erase color size'; */
    margin-top: 10rem;
     justify-content: center;
    justify-items: center; 
    /* justify-self: center; */
    /* align-content: center; */
    /* align-items: center; */
}

.flbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.clean {
/* grid-area: 'clean'; */
}
.erase {
/* grid-area: 'erase'; */
display: flex;
flex-direction: column;
align-items: center;

}
.color-change {
/* grid-area: 'color'; */
display: flex;
flex-direction: column;
align-items: center;

}
.size {


}



.slider {
        width: 100%; 
        height: 25px;
        background: #d3d3d3;
        opacity: 0.7; 
        transition: opacity .2s;
    }

    .out {
        font-size: 20px;
        color: tomato;
    }

    .slider:hover {
        opacity: 1; 
    }

.grid {
    display : grid;
    width : 800px;
    height: 800px;
    border : 1px red solid;
    /* justify-self : center; */
    grid-gap : 0px;
    /* grid-area: 'board'; */
}

.cell {
    /* min-height : 10px; */
    /* min-width : 10px; */
    background-color : lightgray;
     border : 1px green solid;
     box-sizing: border-box;
}

.black {
    background-color :black;
}
.black {
    background-color :lightgray;
}

.color {
    /* background-color :rgb(random, random, random); */
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switcher:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switcher {
    background-color: #2196F3;
  }
  
  input:focus + .switcher {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switcher.round {
    border-radius: 34px;
  }
  
  .switcher.round:before {
    border-radius: 50%;
  }