main html {
    margin: 0 auto;
    padding: 0;

}

.container {
    border: 1px black solid;
    width: 100%;
    display: grid;
    margin-top: 10rem;
     justify-content: center;
    justify-items: center; 
    justify-self: center;
}

